
    <div id="carouselhome" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselhome" data-slide-to="0" class="active"></li>
        <li data-target="#carouselhome" data-slide-to="1"></li>
        <li data-target="#carouselhome" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1-->
        <div class="carousel-item active lozad" style="background-image: url('../../../../assets/carousel/car.jpg')">
          <div class="carousel-caption d-sm-none d-sm-block">
            <a routerLink="/store"><h1>Catálogo</h1></a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item lozad" style="background-image: url('../../../../assets/carousel/car1.jpg')">
          <div class="carousel-caption d-sm-none d-sm-block">
            <a routerLink="/about"><h1>Nosotros</h1></a>
          </div>
        </div>
        <!-- Slide 3-->
        <div class="carousel-item lozad" style="background-image: url('../../../../assets/carousel/car2.jpg')">
          <div class="carousel-caption d-sm-none d-sm-block" style="display:inline-block; text-align: center;">
            <div class="container">
              <a routerLink="/contact-us"><h1>Contacto</h1></a>
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselhome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselhome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
      <section id="product-one">
        <div class="container">
          <h2 class="section-title">Productos</h2>
          <div class="row">
            <div class="col">
                <h3>PRODUCTO</h3>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis provident illo hic delectus maiores corrupti, harum repudiandae officiis! Expedita nam eum nisi temporibus pariatur molestiae voluptatibus placeat nulla recusandae minus!</P>
            </div>
            <div class="col">
              <img src="../../../../assets/photos/model8.jpg" class="lozad img-fluid">
            </div>
          </div>
          <br>
        </div>
      </section>
      <section id="product-two">
        <div class="container">
          <br>
          <div class="row">
            <div class="col">
              <img src="../../../../assets/photos/model9.jpg" class="lozad img-fluid">
            </div>
            <div class="col">
                <h3>PRODUCTO</h3>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis provident illo hic delectus maiores corrupti, harum repudiandae officiis! Expedita nam eum nisi temporibus pariatur molestiae voluptatibus placeat nulla recusandae minus!</P>
            </div>
          </div>
          <br>
        </div>
      </section>
      <section id="product-three">
        <div class="container">
          <br>
          <div class="row">
            <div class="col">
              <h3>PRODUCTO</h3>
              <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis provident illo hic delectus maiores corrupti, harum repudiandae officiis! Expedita nam eum nisi temporibus pariatur molestiae voluptatibus placeat nulla recusandae minus!</P>
            </div>
            <div class="col">
              <img src="../../../../assets/photos/model7.jpg" class="lozad img-fluid">
            </div>
          </div>
          <br>
        </div>
      </section>
      <section id="gallery">
        <div class="container">
          <br>
          <h2 style="text-align: center;">GALERIA</h2>
          <div class="row">
            <div class="col" >
              <img src="../../../../assets/photos/model3.jpg" class="lozad img-thumbnail img-fluid">
            </div>
            <div class="col" > 
              <img src="../../../../assets/photos/model2.jpg" class="lozad img-thumbnail img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col" >
              <div class="row">
                <img src="../../../../assets/photos/model4.jpg" class="lozad img-thumbnail img-fluid">
              </div>
              <div class="row">
                <img src="../../../../assets/photos/model12.jpg" class="lozad img-thumbnail img-fluid">
              </div>
              <div class="row">
                <img src="../../../../assets/photos/model11.jpg" class="lozad img-thumbnail img-fluid">
              </div>
            </div>
            <div class="col" >
              <div class="row">
                <img src="../../../../assets/photos/model1.jpg" class="lozad img-thumbnail img-fluid">
              </div>
              <div class="row">
                <img src="../../../../assets/photos/model6.jpg" class="lozad img-thumbnail img-fluid">
              </div>     
            </div>
          </div>
        </div>
      </section>  
      <footer class="bg-light">
        <br>
        <p>2020-Progra Web</p>
      </footer>  
      
   