<section id="product-header">
  <div class="container">
    <h2>Detalles de compra</h2>
  </div>
</section>
<div class="container" style="margin-bottom: 30px;">
  <div class="row mt-5">
    <div class="col">
      <img class="img-thumbnail ml-auto mr-auto" [src]="current_product.image">
    </div>
    <div class="col">
      <div class="center-elements" id="product-title" >
        <h2 class="ml-auto mr-auto ">{{current_product.name}}</h2>
      </div>
      <div style="margin-bottom: 20px; text-align: center;">
        <h5>Marca: {{current_product.brand}}</h5>
        <h5>Categoría: {{current_product.category}}</h5>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr style="text-align: center;">
              <th scope="col">Escoger</th>
              <th scope="col">Color</th>
              <th scope="col">Tallas</th>
              <th scope="col">Unidades Disponibles</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of current_product.details" style="text-align: center;">
            <tr *ngIf="item.quantity > 0">
              <input class="form-check-input" style="padding-top: 15px;" type="radio" name="exampleRadios" id="{{item.color.id}}" value='{{item.color.color}}'  (change)="set_max(item.quantity); set_product(item.id)">
              <td scope="ml-5" >{{item.color.color}}</td>
              <td class="ml-5" >{{item.size.size}}</td>
              <td class="ml-5" >{{item.quantity}}</td>
              <td class="ml-5" >Q.{{item.price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <label for="cantidad" *ngIf="maxnum > 0" style="margin-bottom: 20px; text-align: right;">Cantidad: </label>
      <label  *ngIf="maxnum == 0">No hay Stock disponible de este producto</label>
      <label  *ngIf="maxnum == -1">Seleccione un Producto</label>
      <input type="number" placeholder="Cantidad" id="cantidad" min="0" [(ngModel)]="quantity" [attr.max]="maxnum" *ngIf="maxnum > 0" (change)="disabled = false">
      <button type="button" class="btn btn-warning" style="width: 100%" *ngIf="disabled || quantity==0" disabled="true">Agregar al Carrito</button>
      <button type="button" class="btn btn-warning" style="width: 100%" *ngIf="!disabled && quantity>0 && logged()" (click)="insert()">Agregar al Carrito</button>
      <button type="button" class="btn btn-warning" style="width: 100%" *ngIf="!disabled && quantity>0 && !logged()"  data-toggle="modal" data-target="#exampleModalCenter">Iniciar Sesión y Agregar al Carrito</button>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Iniciar Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signInForm"  *ngIf="!logged()">
              <label for="username">Nombre de usuario</label>
              <input class="form-control" type="text" placeholder="Nombre de usuario" id="username" formControlName="username">
              <label for="password">Contraseña</label>
              <input class="form-control" type="password" placeholder="Contraseña" id="password" formControlName="password">
              <button class="btn btn-success mb-4" type="submit" [disabled]="signInForm.invalid" (click)="validation()">Ingresar</button>
              <label style="color: red;" *ngIf="!this.correct_login">Datos de ingreso incorrectos</label>
        </form>
        <div class="container" *ngIf="logged()">
            <h3 style="text-align: center;"> Sesión iniciada, correctamente. Puede Cerrar esta ventana y confirmar su compra</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
