<div class="container">
  <br>
  <br>
  <form class="row container" id="principal-form">
    <div class="col-sm-4" style="background-color: #fcbf49; border-radius: 5%;">
        <br>
        <h2 style="text-align: center; color: white;">Contacto</h2>
      <dl>
        <dt><label class=subtitle>HORARIOS ATENCIÓN AL CLIENTE</label></dt>
        <dt><label class=info>Lunes a sábado </label></dt>
        <dt><label class=info>8:00 a 16:00 (GMT-6)</label></dt>
        <br>
        <dt><label class=subtitle>ATENCIÓN AL CLIENTE</label></dt>
        <dt><label class=info>Email: </label><br><label class=info style="color:blue; font-weight: 700;">tiendaonline@gmail.com</label></dt>
        <dt><label class=info>Whatsapp: </label><br><label class=info style="font-weight: 700;"> (+502)1234 5678</label></dt>
      </dl>
    </div>
    <div class="col-sm-8">
        <h2 style="text-align: center; font-weight: 700;">Mensaje</h2>
        <dl>
            <dt> <input type="text" class="input-style" placeholder="Nombre"></dt><br>
            <dt> <input type="text" class="input-style" placeholder="Correo"></dt><br>
            <dt> <input type="text" class="input-style" placeholder="Asunto"></dt><br>
            <dt> <input type="text" class="input-style message" placeholder="Mensaje"></dt><br>
        </dl>
        <button type="button" class="btn btn-info">Enviar</button>
      </div>
</form>
</div>