td, th 
    height: 50px
    border: 1px solid #FFA07A
    text-align: center
    color: gray

th 
    background: lightsalmon
    color: white

.pro-name
    font-weight: bold
    font-size: 0.7rem

.pro-descrition
    font-size: 0.5rem

.input
    border-color: #f7bfa9
    text-align: center
    color: gray

.cart-img
    width: 50%
    height: 100%

.title
    color: mediumaquamarine
    font-size: 32px
    text-align: left
    font-style: italic
    padding-left: 30px

.icon
    width: 40px
    height: 40px
    float: right
    padding-right: 5px

.alinear
    float: right
