<img class="icon" src="../../../../assets/cart.png"><h3 class="title">Carrito de compras</h3>
<form class="container" id="principal-form">
    <table class="table">
      <thead>
        <tr>
            <th scope="col" width="400px">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-6"> 
                        <img class="cart-img" src="../../../../assets/clothes4.jpg">
                    </div>
                    <div class="col-sm-6">
                        <p class="pro-name">Vestido Embroidery Floral</p>
                        <p class="pro-description">Rosa, talla S</p>
                    </div>
                </div>
            </td>
            <td><input class="input" type="number" value="1"/></td>
            <td>Q560.00</td>
            <td>Q560.00</td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-6"> 
                        <img class="cart-img" src="../../../../assets/clothes5.jpg">
                    </div>
                    <div class="col-sm-6">
                        <p class="pro-name">Blazer Mine</p>
                        <p class="pro-description">Turquesa, talla S</p>
                    </div>
                </div>
            </td>
            <td><input class="input" type="number" value="1"/></td>
            <td>Q200.00</td>
            <td>Q200.00</td>
        </tr>
       </tbody>
    </table>
    <!-- Card -->
    <div class="card float-right border-dark mb-3" style="max-width: 20rem;">
        <dl >
           <dt>
             <label >Subtotal</label>
             <input type="number" PlaceHolder="Q 760.00" disabled>
           </dt>
           <dt>
             <label>Envio</label>
             <input type="number"  PlaceHolder="Q 50.00" disabled>
           </dt>
           <dt>
             <label>Total</label>
             <input type="number"  PlaceHolder="Q 810.00" disabled>
           </dt>
        </dl>
   </div>
</form>