<section id="title">
  <div class="container">
    <h2>Carrito de compras</h2>
  </div>
</section>
<section>
  <form class="container" id="principal-form">
      <table class="table">
        <thead>
          <tr>
              <th scope="col" width="400px">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.cart.items">
              <td>
                  <div class="row">
                      <div class="col-sm-6">
                          <img class="cart-img" [src]="item.product_detail.image">
                      </div>
                      <div class="col-sm-6">
                          <h2>{{item.product_detail.name}}</h2>
                          <p class="pro-description">Color: {{item.product_detail.color}}, Talla: {{item.product_detail.size}} </p>
                      </div>
                  </div>
              </td>
              <td><h4>{{item.quantity}}</h4></td>
              <td class="pro-description"><h4>Q{{item.price}}</h4></td>
              <td class="pro-description"><h4>Q{{item.sub_total}}</h4></td>
          </tr>
        </tbody>
      </table>
      <!-- Card -->

      <div class="card alinear col-4">
          <div class="card-header bg-transparent">
            Subtotal Q{{this.cart.sub_total}}
          </div>

          <div class="card-footer text-muted">
            Envío Q50
          </div>
          <div class="card-body text-center">
              <h5 class="card-title">Total: Q810</h5>
              <a href="#" class=" btn btn-warning btn-lg btn-block">Comprar</a>
            </div>
        </div>
  </form>
</section>
