#navbarToggleExternalContent
    opacity: 60%
    width: 200px
    height: 200%
.nav-link
    color: black
    z-index: 100
    &:hover
        color: #fcbf49
#menu
    color: grey
    font-weight: 600        