<div id="main-page">
    <div id="main-header">
        <h3>Agregar a inventario:</h3>
    </div>
    <form id="first-form">
        <div class="form-row">
            <div class="col-md-3 mb-3 form-first-row first-component">
                <h5>Nombre</h5>
            </div>
            <div class="col-md-3 mb-3 form-first-row">
                <h5>Color</h5>
            </div>
            <div class="col-md-3 mb-3 form-first-row">
                <h5>Talla</h5>
            </div>
            <div class="col-md-3 mb-3 form-first-row last-component">
                <h5>Detalles</h5>
            </div>
        </div>
    </form>

    <form id="main-data-form">
        <div class="custom-row">
            <div class ="form-row front-card-design">
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit magnam architecto tempora non in rerum dolorum quisquam, eos, suscipit quia culpa incidunt id. Sint natus sed officiis, quo ducimus assumenda?</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Color</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Talla</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <button class = "form-button">Comprar</button>
                </div>
            </div>
        </div>

        <div class="custom-row">
            <div class ="form-row front-card-design">
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit magnam architecto tempora non in rerum dolorum quisquam, eos, suscipit quia culpa incidunt id. Sint natus sed officiis, quo ducimus assumenda?</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Color</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Talla</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <button class = "form-button">Comprar</button>
                </div>
            </div>
        </div>

        <div class="custom-row">
            <div class ="form-row front-card-design">
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit magnam architecto tempora non in rerum dolorum quisquam, eos, suscipit quia culpa incidunt id. Sint natus sed officiis, quo ducimus assumenda?</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Color</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <h5>Talla</h5>
                </div>
                <div class="col-md-3 mb-3 center-box-text">
                    <button class = "form-button">Comprar</button>
                </div>
            </div>
        </div>
    </form>
</div>
