<div class="container">
    <br>
    <br> 
      <div class="row">
        <div class="col">
            <button class="btn btn-danger" style="justify-self: center;" type="button" data-toggle="collapse" data-target="#products" aria-expanded="true" aria-controls="products">Productos</button> 
          <div class="collapse show" id="products">
            <div class="card card-body">
                <ul class="list-unstyled">
                    <li><a routerLink="add-product">Agregar Productos</a></li>
                    <li><a>Listar Productos</a></li>
                    <li><a>Agregar Stock</a></li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="col">
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#reports" aria-expanded="true" aria-controls="reports">Reportes</button> 
            <div class="collapse show" id="reports">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
     </div> 
</div>