<body>
  <div class="container">
    <div class="row">
        <div class="col-xs-4"><h2>Perfil</h2></div>
    </div>
    <br /><br />
    <!-- Primer bloque -->
    <form class="row container" id="principal-form">
      <div class="col-sm-8">
        <dl id="campos">
          <h2 style="text-align: center;">{{this.data.user.username}}</h2>
          <dt>
            <label>Nombre: </label>
            <p>{{this.data.user.first_name}} {{this.data.user.last_name}}<p>
          </dt>
          <dt>
            <label>Correo: </label>
            <p>{{this.data.user.email}}<p>
          </dt>
          <dt>
            <label>Teléfono:</label>
            <p>{{this.data.user.phone}}<p>
          </dt>
          <dt>
            <label>Dirección:</label>
            <p>{{this.data.user.address_a}}<p>
          </dt>
          <dt>
            <label>Ciudad: </label>
            <p>{{this.data.user.address_b}}<p>
          </dt>
        </dl>
      </div>

      <div class="col-sm-4" id="photo">
          <img src="../../../../assets/guest.png" alt="photo" id="photo">
      </div> 

      <div class="card">
          <div class="card-header" id="card_title">Información de pago</div>
          <div class="card-body">
            <dl id="campos">
              <dt>
                <label>Nombre tarjeta:</label>
                <input type="text"  PlaceHolder="user_name" id="card_label" disabled>
              </dt>
              <dt>
                <label>No. tarjeta:</label>
                <input type="number"  PlaceHolder="no_card" id="card_label" disabled>
              </dt>
              <dt>
                <label>Fecha de expiración:</label>
                <input type="date"  PlaceHolder="card_date" id="card_label" disabled>
              </dt>
              <dt>
                <label>CV:</label>
                <input type="number"  PlaceHolder="cv" id="card_label" disabled>
              </dt>
              <dt>
                <label>Monto:</label>
                <input type="number"  PlaceHolder="monto" id="card_label" disabled>
              </dt>
            </dl>
          </div>
        </div>
    </form>
  </div> 
</body>   
