<section id="list-users-header">
  <div class="container">
    <h2>Usuarios administradores</h2>
  </div>
</section>
<section>
  <div style="margin-top: 30px;">
    <form class="row container center-elements">
      <table class="table">
        <thead>
          <tr id ="main-row">
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>

          <tr class="list-items">
            <th scope="col">texto nombre</th>
            <th scope="col">texto apellido</th>
            <th scope="col">texto usuario</th>
            <th scope="col">texto correo</th>
            <th scope="col">
              <button class = "list-buttons">Editar</button>
            </th>
            <th scope="col">
              <button class = "list-buttons">Eliminar</button>
            </th>
          </tr>
        </thead>
      </table>
    </form>
  </div>
</section>
