

<section class="container mt-5 pt-5">
    <h1 class="text-center text-warning">Acerca de nosotros</h1>

<!-- FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">¿Quienes somos? <span class="text-muted">Conócenos</span></h2>
        <p class="lead">Somos una empresa fundada en Guatemala, reconocida por nuestra amplia experiencia en el mercado de la moda.
            Nace de la idea de crear estilos únicos y para todo público.
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/about1.png" alt="">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" >
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Por qué elegirnos</h2>
        <p class="lead">No solo estás comprando una prenda de ropa, sino un concepto al vestir. Nuestras transacciones son seguras,
            nuestro sitio web cuenta con certificado SSL.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="assets/about2.png" alt=""></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="tres">
    <div class="col-md-7">
        <h2 class="featurette-heading">Nuestras prendas</h2>
        <p class="lead">Elaboradas 100% por nosotros, contamos con diseños originales y juveniles. Telas de la más alta calidad a precios
            accesible para todo público. 
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/about3.png" alt=""></div>
    </div>

    <hr class="featurette-divider">
</section>
<!-- /END THE FEATURETTES -->
