<section id="product-header">
    <div class="container">
      <h2>Sobre nosotros</h2>
    </div>
</section>

<section class="container mt-5 pt-5 main-page">
<!-- FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">¿Quienes somos? <span class="text-muted">Conócenos</span></h2>
        <p class="lead">
            {{content.pr_1}}
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="content.img_1" alt="">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" >
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Por qué elegirnos</h2>
        <p class="lead">
            {{content.pr_2}}
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" [src]="content.img_2" alt=""></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="tres">
    <div class="col-md-7">
        <h2 class="featurette-heading">Nuestras prendas</h2>
        <p class="lead">
            {{content.pr_3}} 
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="content.img_3" alt=""></div>
    </div>

    <hr class="featurette-divider">
</section>
<!-- /END THE FEATURETTES -->
