<section id="clients-header">
    <div class="container">
      <h2>Clientes</h2>
    </div>
</section>
<section>
    <form id="body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">País</th>
                <th scope="col">Opciones</th>
              </tr>
              <tr>
                <td><div> </div></td>
                <td><div> </div></td>
                <td><div> </div></td>
                <td><div> </div></td>
                <td><div> </div></td>
                <td><div> </div></td>
                <td><div> </div></td>
                <td id="opciones">
                    <button type="button" class="btn btn-link">Eliminar</button>
                </td>
              </tr>
            </thead>
          </table>
    </form>
</section>
