
<form [formGroup]="signInForm">
        <div class="container" id="login-form">
            <div id= "login-form-title">
                <h2>Ingreso de usuario</h2>
            </div>
            <label>Nombre de usuario</label>
            <input class="signUpInput" type="text" placeholder="Nombre de usuario" formControlName="username">
            <label>Contraseña</label>
            <input class="signUpInput" type="password" placeholder="Contraseña" formControlName="password">
            <button class="btn btn-success mb-4" type="submit" [disabled]="signInForm.invalid" (click)="validar()">Ingresar</button>
            <label style="color: red;" *ngIf="!logged()">Datos de ingreso incorrectos</label>
        </div>
</form>